*.a
*.core
*.kld
*.ko
*.log
*.lst
*.o
*.po
.gdb_history
doc/a_local_machine_as_a_master.png
doc/a_local_machine_as_a_slave.png
doc/example1.png
doc/example2.png
doc/example3.png
doc/fully_supported.png
doc/index.html
doc/master_and_slave.png
doc/not_supported.png
doc/open_file.png
doc/out_of_support.png
doc/overview.png
doc/partially_supported.png
doc/signal.png
doc/structure.png
fmaster/@
fmaster/Makefile.makesyscalls
fmaster/export_syms
fmaster/machine
fmaster/sys/fmaster/fmaster_access.c
fmaster/sys/fmaster/fmaster_close.c
fmaster/sys/fmaster/fmaster_dup.c
fmaster/sys/fmaster/fmaster_fcntl.c
fmaster/sys/fmaster/fmaster_fstat.c
fmaster/sys/fmaster/fmaster_getegid.c
fmaster/sys/fmaster/fmaster_geteuid.c
fmaster/sys/fmaster/fmaster_getgid.c
fmaster/sys/fmaster/fmaster_getpid.c
fmaster/sys/fmaster/fmaster_getuid.c
fmaster/sys/fmaster/fmaster_issetugid.c
fmaster/sys/fmaster/fmaster_link.c
fmaster/sys/fmaster/fmaster_lseek.c
fmaster/sys/fmaster/fmaster_lstat.c
fmaster/sys/fmaster/fmaster_open.c
fmaster/sys/fmaster/fmaster_pre_post.h
fmaster/sys/fmaster/fmaster_pread.c
fmaster/sys/fmaster/fmaster_proto.h
fmaster/sys/fmaster/fmaster_read.c
fmaster/sys/fmaster/fmaster_readlink.c
fmaster/sys/fmaster/fmaster_socket.c
fmaster/sys/fmaster/fmaster_stat.c
fmaster/sys/fmaster/fmaster_syscall.h
fmaster/sys/fmaster/fmaster_syscalls.c
fmaster/sys/fmaster/fmaster_sysent.c
fmaster/sys/fmaster/fmaster_systrace_args.c
fmaster/sys/fmaster/fmaster_write.c
fmaster/sys/fmaster/fmaster_writev.c
fmaster/x86
fmhub/dispatch_call.inc
fmhub/dispatch_ret.inc
fmhub/fmhub
fshub/dispatch_call.inc
fshub/dispatch_ret.inc
fshub/fshub
fslave/Makefile.makesyscalls
fslave/dispatch.inc
fslave/fslave
fslave/fslave_access.c
fslave/fslave_close.c
fslave/fslave_dup.c
fslave/fslave_fcntl.c
fslave/fslave_fstat.c
fslave/fslave_getegid.c
fslave/fslave_geteuid.c
fslave/fslave_getgid.c
fslave/fslave_getpid.c
fslave/fslave_getuid.c
fslave/fslave_issetugid.c
fslave/fslave_link.c
fslave/fslave_lseek.c
fslave/fslave_lstat.c
fslave/fslave_open.c
fslave/fslave_pread.c
fslave/fslave_read.c
fslave/fslave_readlink.c
fslave/fslave_socket.c
fslave/fslave_stat.c
fslave/fslave_write.c
fslave/fslave_writev.c
include/fsyscall/private/command/name.h
include/fsyscall/private/fslave/proto.h
java/bin
java/src/jp/gr/java_conf/neko_daisuki/fsyscall/Command.java
java/src/jp/gr/java_conf/neko_daisuki/fsyscall/SyscallResult.java
java/src/jp/gr/java_conf/neko_daisuki/fsyscall/slave/SlaveHelper.java
jp.gr.java_conf.neko_daisuki.fsyscall
jp.gr.java_conf.neko_daisuki.fsyscall.io
jp.gr.java_conf.neko_daisuki.fsyscall.slave
log.txt
tests/*/access/access
tests/*/close/close
tests/*/exit/exit
tests/*/open/open
tests/*/read/read
tests/*/write/write
tests/amd64/close_twice/close_twice
tests/amd64/connect/connect
tests/amd64/dup/dup
tests/amd64/dup_and_close/dup_and_close
tests/amd64/fcntl/fcntl
tests/amd64/fstat/fstat
tests/amd64/fstatfs/fstatfs
tests/amd64/getdirentries/getdirentries
tests/amd64/getegid/getegid
tests/amd64/geteuid/geteuid
tests/amd64/getgid/getgid
tests/amd64/getpid/getpid
tests/amd64/getuid/getuid
tests/amd64/ioctl/ioctl
tests/amd64/issetugid/issetugid
tests/amd64/lseek/lseek
tests/amd64/lstat/lstat
tests/amd64/poll_in/poll_in
tests/amd64/poll_out/poll_out
tests/amd64/poll_timeout/poll_timeout
tests/amd64/pread/pread
tests/amd64/print_stat_member/name.inc
tests/amd64/print_stat_member/print.inc
tests/amd64/print_stat_member/print_stat_layout
tests/amd64/readlink/readlink
tests/amd64/select/select
tests/amd64/select2/select2
tests/amd64/socket/socket
tests/amd64/stat/stat
tests/amd64/writev/writev
tests/encode/pid/pid
tests/fstat.rc
tests/lstat.rc
tests/o2d/o2d
tests/socktestd/socktestd
tests/stat.rc
tests/test_fstat_*
tests/test_lstat_*
tests/test_stat_*
tests/tester/tester
tests/timeouttestd/timeouttestd
tools/lib/python/fsyscall/__pycache__
tools/lib/python/fsyscall/java/__pycache__
