*.a
*.core
*.kld
*.ko
*.log
*.lst
*.o
*.po
fmaster/@
fmaster/export_syms
fmaster/machine
fmaster/sys/fmaster/fmaster_proto.h
fmaster/sys/fmaster/fmaster_syscall.h
fmaster/sys/fmaster/fmaster_syscalls.c
fmaster/sys/fmaster/fmaster_sysent.c
fmaster/sys/fmaster/fmaster_systrace_args.c
fmaster/x86
fmhub/fmhub
fshub/fshub
fslave/fslave
tests/*/exit/exit
tests/encode/pid/pid
tests/tester/tester
