*.a
*.core
*.kld
*.ko
*.log
*.lst
*.o
*.po
.gdb_history
doc/a_local_machine_as_a_master.png
doc/a_local_machine_as_a_slave.png
doc/example1.png
doc/example2.png
doc/example3.png
doc/fully_supported.png
doc/index.html
doc/master_and_slave.png
doc/not_supported.png
doc/open_file.png
doc/out_of_support.png
doc/overview.png
doc/partially_supported.png
doc/signal.png
doc/structure.png
fmaster/@
fmaster/Makefile.makesyscalls
fmaster/export_syms
fmaster/machine
fmaster/sys/fmaster/fmaster_abort2.c
fmaster/sys/fmaster/fmaster_accept.c
fmaster/sys/fmaster/fmaster_access.c
fmaster/sys/fmaster/fmaster_acct.c
fmaster/sys/fmaster/fmaster_adjtime.c
fmaster/sys/fmaster/fmaster_aio_read.c
fmaster/sys/fmaster/fmaster_aio_write.c
fmaster/sys/fmaster/fmaster_bind.c
fmaster/sys/fmaster/fmaster_chdir.c
fmaster/sys/fmaster/fmaster_chflags.c
fmaster/sys/fmaster/fmaster_chmod.c
fmaster/sys/fmaster/fmaster_chown.c
fmaster/sys/fmaster/fmaster_chroot.c
fmaster/sys/fmaster/fmaster_clock_getres.c
fmaster/sys/fmaster/fmaster_clock_settime.c
fmaster/sys/fmaster/fmaster_close.c
fmaster/sys/fmaster/fmaster_dup.c
fmaster/sys/fmaster/fmaster_dup2.c
fmaster/sys/fmaster/fmaster_execve.c
fmaster/sys/fmaster/fmaster_faccessat.c
fmaster/sys/fmaster/fmaster_fchdir.c
fmaster/sys/fmaster/fmaster_fchflags.c
fmaster/sys/fmaster/fmaster_fchmod.c
fmaster/sys/fmaster/fmaster_fchmodat.c
fmaster/sys/fmaster/fmaster_fchown.c
fmaster/sys/fmaster/fmaster_fchownat.c
fmaster/sys/fmaster/fmaster_fcntl.c
fmaster/sys/fmaster/fmaster_fexecve.c
fmaster/sys/fmaster/fmaster_fhopen.c
fmaster/sys/fmaster/fmaster_fhstat.c
fmaster/sys/fmaster/fmaster_fhstatfs.c
fmaster/sys/fmaster/fmaster_flock.c
fmaster/sys/fmaster/fmaster_fpathconf.c
fmaster/sys/fmaster/fmaster_fstat.c
fmaster/sys/fmaster/fmaster_fstatat.c
fmaster/sys/fmaster/fmaster_fsync.c
fmaster/sys/fmaster/fmaster_ftruncate.c
fmaster/sys/fmaster/fmaster_futimes.c
fmaster/sys/fmaster/fmaster_futimesat.c
fmaster/sys/fmaster/fmaster_getdents.c
fmaster/sys/fmaster/fmaster_getegid.c
fmaster/sys/fmaster/fmaster_geteuid.c
fmaster/sys/fmaster/fmaster_getfh.c
fmaster/sys/fmaster/fmaster_getfsstat.c
fmaster/sys/fmaster/fmaster_getgid.c
fmaster/sys/fmaster/fmaster_getgroups.c
fmaster/sys/fmaster/fmaster_getitimer.c
fmaster/sys/fmaster/fmaster_getlogin.c
fmaster/sys/fmaster/fmaster_getloginclass.c
fmaster/sys/fmaster/fmaster_getpeername.c
fmaster/sys/fmaster/fmaster_getpgid.c
fmaster/sys/fmaster/fmaster_getpgrp.c
fmaster/sys/fmaster/fmaster_getpid.c
fmaster/sys/fmaster/fmaster_getppid.c
fmaster/sys/fmaster/fmaster_getpriority.c
fmaster/sys/fmaster/fmaster_getresgid.c
fmaster/sys/fmaster/fmaster_getresuid.c
fmaster/sys/fmaster/fmaster_getrlimit.c
fmaster/sys/fmaster/fmaster_getrusage.c
fmaster/sys/fmaster/fmaster_getsid.c
fmaster/sys/fmaster/fmaster_getsockname.c
fmaster/sys/fmaster/fmaster_getsockopt.c
fmaster/sys/fmaster/fmaster_gettimeofday.c
fmaster/sys/fmaster/fmaster_getuid.c
fmaster/sys/fmaster/fmaster_issetugid.c
fmaster/sys/fmaster/fmaster_kill.c
fmaster/sys/fmaster/fmaster_ktimer_create.c
fmaster/sys/fmaster/fmaster_ktimer_delete.c
fmaster/sys/fmaster/fmaster_ktimer_getoverrun.c
fmaster/sys/fmaster/fmaster_ktimer_gettime.c
fmaster/sys/fmaster/fmaster_ktimer_settime.c
fmaster/sys/fmaster/fmaster_ktrace.c
fmaster/sys/fmaster/fmaster_lchflags.c
fmaster/sys/fmaster/fmaster_lchmod.c
fmaster/sys/fmaster/fmaster_lchown.c
fmaster/sys/fmaster/fmaster_lgetfh.c
fmaster/sys/fmaster/fmaster_link.c
fmaster/sys/fmaster/fmaster_linkat.c
fmaster/sys/fmaster/fmaster_lio_listio.c
fmaster/sys/fmaster/fmaster_listen.c
fmaster/sys/fmaster/fmaster_lpathconf.c
fmaster/sys/fmaster/fmaster_lseek.c
fmaster/sys/fmaster/fmaster_lstat.c
fmaster/sys/fmaster/fmaster_lutimes.c
fmaster/sys/fmaster/fmaster_mkdir.c
fmaster/sys/fmaster/fmaster_mkdirat.c
fmaster/sys/fmaster/fmaster_mkfifo.c
fmaster/sys/fmaster/fmaster_mkfifoat.c
fmaster/sys/fmaster/fmaster_mknod.c
fmaster/sys/fmaster/fmaster_mknodat.c
fmaster/sys/fmaster/fmaster_mount.c
fmaster/sys/fmaster/fmaster_msgctl.c
fmaster/sys/fmaster/fmaster_msgsys.c
fmaster/sys/fmaster/fmaster_msync.c
fmaster/sys/fmaster/fmaster_nfssvc.c
fmaster/sys/fmaster/fmaster_nfstat.c
fmaster/sys/fmaster/fmaster_nlm_syscall.c
fmaster/sys/fmaster/fmaster_nlstat.c
fmaster/sys/fmaster/fmaster_nstat.c
fmaster/sys/fmaster/fmaster_ntp_adjtime.c
fmaster/sys/fmaster/fmaster_open.c
fmaster/sys/fmaster/fmaster_openat.c
fmaster/sys/fmaster/fmaster_ovadvise.c
fmaster/sys/fmaster/fmaster_pathconf.c
fmaster/sys/fmaster/fmaster_posix_openpt.c
fmaster/sys/fmaster/fmaster_pre_post.h
fmaster/sys/fmaster/fmaster_pread.c
fmaster/sys/fmaster/fmaster_preadv.c
fmaster/sys/fmaster/fmaster_profil.c
fmaster/sys/fmaster/fmaster_proto.h
fmaster/sys/fmaster/fmaster_ptrace.c
fmaster/sys/fmaster/fmaster_pwrite.c
fmaster/sys/fmaster/fmaster_pwritev.c
fmaster/sys/fmaster/fmaster_quotactl.c
fmaster/sys/fmaster/fmaster_read.c
fmaster/sys/fmaster/fmaster_readlink.c
fmaster/sys/fmaster/fmaster_readlinkat.c
fmaster/sys/fmaster/fmaster_readv.c
fmaster/sys/fmaster/fmaster_reboot.c
fmaster/sys/fmaster/fmaster_recvmsg.c
fmaster/sys/fmaster/fmaster_rename.c
fmaster/sys/fmaster/fmaster_renameat.c
fmaster/sys/fmaster/fmaster_revoke.c
fmaster/sys/fmaster/fmaster_rfork.c
fmaster/sys/fmaster/fmaster_rmdir.c
fmaster/sys/fmaster/fmaster_rtprio.c
fmaster/sys/fmaster/fmaster_semsys.c
fmaster/sys/fmaster/fmaster_sendfile.c
fmaster/sys/fmaster/fmaster_sendmsg.c
fmaster/sys/fmaster/fmaster_sendto.c
fmaster/sys/fmaster/fmaster_setcontext.c
fmaster/sys/fmaster/fmaster_setegid.c
fmaster/sys/fmaster/fmaster_seteuid.c
fmaster/sys/fmaster/fmaster_setfib.c
fmaster/sys/fmaster/fmaster_setgid.c
fmaster/sys/fmaster/fmaster_setgroups.c
fmaster/sys/fmaster/fmaster_setitimer.c
fmaster/sys/fmaster/fmaster_setlogin.c
fmaster/sys/fmaster/fmaster_setloginclass.c
fmaster/sys/fmaster/fmaster_setpgid.c
fmaster/sys/fmaster/fmaster_setpriority.c
fmaster/sys/fmaster/fmaster_setregid.c
fmaster/sys/fmaster/fmaster_setresgid.c
fmaster/sys/fmaster/fmaster_setresuid.c
fmaster/sys/fmaster/fmaster_setreuid.c
fmaster/sys/fmaster/fmaster_setrlimit.c
fmaster/sys/fmaster/fmaster_setsid.c
fmaster/sys/fmaster/fmaster_setsockopt.c
fmaster/sys/fmaster/fmaster_settimeofday.c
fmaster/sys/fmaster/fmaster_setuid.c
fmaster/sys/fmaster/fmaster_shmsys.c
fmaster/sys/fmaster/fmaster_shutdown.c
fmaster/sys/fmaster/fmaster_socket.c
fmaster/sys/fmaster/fmaster_socketpair.c
fmaster/sys/fmaster/fmaster_stat.c
fmaster/sys/fmaster/fmaster_statfs.c
fmaster/sys/fmaster/fmaster_swapcontext.c
fmaster/sys/fmaster/fmaster_symlink.c
fmaster/sys/fmaster/fmaster_symlinkat.c
fmaster/sys/fmaster/fmaster_sync.c
fmaster/sys/fmaster/fmaster_syscall.h
fmaster/sys/fmaster/fmaster_syscalls.c
fmaster/sys/fmaster/fmaster_sysent.c
fmaster/sys/fmaster/fmaster_systrace_args.c
fmaster/sys/fmaster/fmaster_thr_create.c
fmaster/sys/fmaster/fmaster_thr_exit.c
fmaster/sys/fmaster/fmaster_thr_kill.c
fmaster/sys/fmaster/fmaster_thr_kill2.c
fmaster/sys/fmaster/fmaster_thr_new.c
fmaster/sys/fmaster/fmaster_thr_set_name.c
fmaster/sys/fmaster/fmaster_thr_suspend.c
fmaster/sys/fmaster/fmaster_thr_wake.c
fmaster/sys/fmaster/fmaster_truncate.c
fmaster/sys/fmaster/fmaster_umask.c
fmaster/sys/fmaster/fmaster_undelete.c
fmaster/sys/fmaster/fmaster_unlink.c
fmaster/sys/fmaster/fmaster_unlinkat.c
fmaster/sys/fmaster/fmaster_unmount.c
fmaster/sys/fmaster/fmaster_utimes.c
fmaster/sys/fmaster/fmaster_vfork.c
fmaster/sys/fmaster/fmaster_wait4.c
fmaster/sys/fmaster/fmaster_write.c
fmaster/sys/fmaster/fmaster_writev.c
fmaster/x86
fmhub/dispatch_call.inc
fmhub/dispatch_ret.inc
fmhub/fmhub
fshub/dispatch_call.inc
fshub/dispatch_ret.inc
fshub/fshub
fslave/Makefile.makesyscalls
fslave/dispatch.inc
fslave/fslave
fslave/fslave_access.c
fslave/fslave_close.c
fslave/fslave_dup.c
fslave/fslave_fcntl.c
fslave/fslave_fstat.c
fslave/fslave_getegid.c
fslave/fslave_geteuid.c
fslave/fslave_getgid.c
fslave/fslave_getpid.c
fslave/fslave_getuid.c
fslave/fslave_issetugid.c
fslave/fslave_link.c
fslave/fslave_lseek.c
fslave/fslave_lstat.c
fslave/fslave_open.c
fslave/fslave_pread.c
fslave/fslave_read.c
fslave/fslave_readlink.c
fslave/fslave_socket.c
fslave/fslave_stat.c
fslave/fslave_write.c
fslave/fslave_writev.c
include/fsyscall/private/command/name.h
include/fsyscall/private/fslave/proto.h
java/bin
java/src/jp/gr/java_conf/neko_daisuki/fsyscall/Command.java
java/src/jp/gr/java_conf/neko_daisuki/fsyscall/SyscallResult.java
java/src/jp/gr/java_conf/neko_daisuki/fsyscall/slave/SlaveHelper.java
jp.gr.java_conf.neko_daisuki.fsyscall
jp.gr.java_conf.neko_daisuki.fsyscall.io
jp.gr.java_conf.neko_daisuki.fsyscall.slave
log.txt
tests/*/access/access
tests/*/close/close
tests/*/exit/exit
tests/*/open/open
tests/*/read/read
tests/*/write/write
tests/amd64/close_twice/close_twice
tests/amd64/connect/connect
tests/amd64/dup/dup
tests/amd64/dup_and_close/dup_and_close
tests/amd64/fcntl/fcntl
tests/amd64/fork/fork
tests/amd64/fstat/fstat
tests/amd64/fstatfs/fstatfs
tests/amd64/getdirentries/getdirentries
tests/amd64/getegid/getegid
tests/amd64/geteuid/geteuid
tests/amd64/getgid/getgid
tests/amd64/getpid/getpid
tests/amd64/getuid/getuid
tests/amd64/ioctl/ioctl
tests/amd64/issetugid/issetugid
tests/amd64/lseek/lseek
tests/amd64/lstat/lstat
tests/amd64/poll_in/poll_in
tests/amd64/poll_out/poll_out
tests/amd64/poll_timeout/poll_timeout
tests/amd64/pread/pread
tests/amd64/print_stat_member/name.inc
tests/amd64/print_stat_member/print.inc
tests/amd64/print_stat_member/print_stat_layout
tests/amd64/readlink/readlink
tests/amd64/select/select
tests/amd64/select2/select2
tests/amd64/socket/socket
tests/amd64/stat/stat
tests/amd64/writev/writev
tests/encode/pid/pid
tests/fstat.rc
tests/lstat.rc
tests/o2d/o2d
tests/socktestd/socktestd
tests/stat.rc
tests/test_fstat_*
tests/test_lstat_*
tests/test_stat_*
tests/tester/tester
tests/timeouttestd/timeouttestd
tools/lib/python/fsyscall/__pycache__
tools/lib/python/fsyscall/java/__pycache__
