
div.section > h1 {
    border-bottom-style: solid;
}

div.section > h2 {
    border-bottom-style: dashed;
    margin-left: 16px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * vim: tabstop=4 shiftwidth=4 expandtab softtabstop=4
 */
